* {
  padding: 0;
  margin: 0;
  box-sizing: content-box;
}

html {
  font-size: 62.5%;
  font-family: monospace;
  background: black;
}

h1 {
  font-size: 4rem;
  color: white;
  user-select: none;
}

.button,
.button-light {
  border: 2px solid white;
  padding: 1rem 2rem;
  cursor: pointer;
}

.buttons {
  width: 500px;
  display: flex;
  justify-content: space-evenly;
  align-items: flex-start;
}

.button-light-text,
.button-text {
  user-select: none;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.game {
  width: 500px;
  height: 200px;
  position: relative;
  border: white solid 2px;
  margin: 1rem 0;
  overflow: hidden;
  cursor: pointer;
  border-radius: 5px;
}

.character {
  width: 30px;
  height: 50px;
  background: white;
  position: absolute;
  z-index: 2;
  top: 150px;
  left: 10px;
}

.block {
  width: 20px;
  height: 20px;
  background: green;
  position: absolute;
  top: 180px;
  left: 480px;
}

.flexstuff {
  display: flex;
  justify-content: center;
  align-items: center;
}

.hide {
  display: none;
}

.animate_block {
  animation: block 0.8s linear infinite;
}

.animate {
  animation: jump 0.5s linear;
}

.rotate {
  display: none;
}

@keyframes block {
  0% {
    left: 480px;
  }
  100% {
    left: -40px;
  }
}

@keyframes jump {
  0% {
    top: 150px;
  }
  30% {
    height: 30px;
    top: 120px;
  }
  70% {
    height: 40px;
    top: 120px;
  }
  100% {
    top: 150px;
  }
}

@media screen and (max-width: 510px) {
  .game,
  .info,
  .button,
  .button-light {
    display: none;
  }
  .rotate {
    display: block;
  }
}
